.user {
  display: flex;
  justify-content: space-around;
  line-height: 10px;
  width: 60%;
}

.user img {
  width: 30%;
  border-radius: 15px;
}

.user-location {
  color: #8d8787;
}

.user-location p {
  display: inline;
  margin-left: 5px;
}

.user-detail h3 {
  font-size: 1.2rem;
}
.user-detail p {
  color: #8d8787;
  font-weight: 400;
}

.user-info {
  background-color: #efdec6;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  border-radius: 15px;
  line-height: 1rem;
  margin: 35px 0 0;
  text-align: center;
}
