.main-container {
  display: grid;
  grid-template-columns: 6fr 2fr;
}

.exercises {
  padding: 50px 85px;
  background-color: #e0f2f9;
}

.exercise-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

@media screen and (max-width: 992px) {
  .exercise-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 668px) {
  .exercises {
    padding: 20px 35px;
  }

  .exercise-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* media queries */
@media screen and (max-width: 992px) {
  .main-container {
    grid-template-columns: 1fr;
  }
}
