@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Maiden+Orange&family=Manrope:wght@300;400;600&display=swap");

.main-container {
  display: grid;
  grid-template-columns: 6fr 2fr;
}

.logo {
  font-family: "Maiden Orange", cursive;
}

.logo .icon {
  font-size: 3rem;
}

.logo h1 {
  display: inline;
  font-size: 2.3rem;
}

.exercises {
  padding: 50px 85px;
  background-color: #e0f2f9;
}

.exercise-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

@media screen and (max-width: 992px) {
  .exercise-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .main-container {
    grid-template-columns: 1fr;
  }

  .exercises {
    padding: 50px 10px;
  }

  .title {
    margin-left: 30px;
  }
}
@media screen and (max-width: 668px) {
  .exercise-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
